{%extends 'base.html'%}


{% block title %}Home
    
{% endblock title %}


{% block body %}
    


    
    
      <div class="container mt-3">
        <div class="row">
            <div class="col-md-4">
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="https://images.unsplash.com/photo-1507238691740-187a5b1d37b8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGNvZGluZyUyMGltYWdlfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">PYTHON COURSES</h5>
                      <p class="card-text">Learn Python Programming Masterclass
                        This Python For Beginners Course Teaches You The Python Language Fast. Includes Python Online Training With Python 3</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
              </div>
              <br><br><br>
              <marquee width="60%" direction="up" height="400px">
                <ul>
                  <li>This Python tutorial series has been designed for those who want to learn Python programming; whether you are beginners or experts, tutorials are intended to cover basic concepts straightforwardly and systematically.</li>
                  <li>To learn the Python programming language, you do not need any previous programming knowledge. Nevertheless, a basic understanding of any other programming languages will help you understand Python programming concepts quickly.</li>
                  <li>This Python tutorial series has been designed for those who want to learn Python programming; whether you are beginners or experts, tutorials are intended to cover basic concepts straightforwardly and systematically.</li>
                  <li>To learn the Python programming language, you do not need any previous programming knowledge. Nevertheless, a basic understanding of any other programming languages will help you understand Python programming concepts quickly.</li>
                </ul>
              </marquee>
            </div>
            <div class="col-md-4">
                <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="https://images.unsplash.com/photo-1558986377-c44f6a2b50f0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDF8fHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=500&q=60" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="https://images.unsplash.com/photo-1534137667199-675a46e143f3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEyfHx8ZW58MHx8fHx8&auto=format&fit=crop&w=500&q=60 class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="https://images.unsplash.com/photo-1618477247222-acbdb0e159b3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDIwfHx8ZW58MHx8fHx8&auto=format&fit=crop&w=500&q=60" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://images.unsplash.com/photo-1543013309-0d1f4edeb868?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1391&q=80" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">What you'll learn</h5>
                      <p class="card-text">Have a fundamental understanding of the Python programming language.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Have the skills and understanding of Python to confidently apply for Python programming jobs.</li>
                      <li class="list-group-item">Understand how to create your own Python programs.</li>
                    </ul>
                  </div>
            </div>
        </div>
      </div>
      
{% endblock body %}



    